@import "variables";

@import "../../node_modules/bootstrap/scss/bootstrap";

@import "mixins";
@import "fonts";
@import "global";
@import "blocks";

a[href^="mailto:"],
a[href^="tel:"] {
  white-space: nowrap;
  text-decoration: none;
}

a[href^="mailto:"] {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.form-control {
  border-radius: 0;
}

a.btn {
  text-decoration: none;
}

.site-header {
  padding: 10px 0 9px;
  margin-bottom: 15px;

  &__logo {
    &__img {
      margin: 0 auto;
      max-width: 20px;
      height: auto;
    }
  }
}

.pic {
  @include media-breakpoint-only(lg) {
    padding-right: 0;
  }

  &__wrap {
    background: $blue;
    display: flex;
    min-height: 240px;
    color: $white;
  }
}

.checkin {
  &__header {
    padding-bottom: 20px;
    // margin-bottom: 20px;
    border-bottom: 1px solid $blue;

    @include media-breakpoint-up(lg) {
      border-bottom: 0;
    }
    @include media-breakpoint-up(xl) {
      border-bottom: 1px solid $blue;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 0;
  }

  &__subtitle {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 20px;
  }

  &__descr {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 18px;
  }

  &__link {
    text-decoration: none;
    display: inline-block;
    vertical-align: bottom;
    border-bottom: 1px solid $blue;
    overflow: hidden;
  }

  &__form {
    padding-top: 30px;
    padding-bottom: 50px;
    border-top: 1px solid $blue;

    @include media-breakpoint-up(lg) {
      padding-top: 20px;
      padding-bottom: 30px;
      border-bottom: 1px solid $blue;
    }

    @include media-breakpoint-up(xl) {
      border-top: 0;
      border-bottom: 0;
    }
  }

  &__password {
    &__input {
      border-right-color: transparent;
    }

    &__icon {
      background-color: transparent;
      border-radius: 0;
      border-left-color: transparent;
    }
  }

  &__btn {
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.footer {
  &__column {
    margin-bottom: 38px;
  }

  &__wrap-link {
    margin-bottom: 4px;
  }

  &__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  &__copyright {
    font-size: 14.2px;
    line-height: 20px;

    & > div {
      margin-bottom: 5px;
    }
  }

  &__wrap-link {
    margin-bottom: 4px;
  }
}
