@import "variables";

@import "../../node_modules/bootstrap/scss/bootstrap";

@import "mixins";
@import "fonts";
@import "global";
@import "blocks";

@font-face {
  font-family: "TT Hoves";
  src: url("../fonts/TTHoves-Regular.eot");
  src: local("☺"), url("../fonts/TTHoves-Regular.woff") format("woff"),
    url("../fonts/TTHoves-Regular.ttf") format("truetype"),
    url("../fonts/TTHoves-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Hoves";
  src: url("../fonts/TTHoves-DemiBold.eot");
  src: local("☺"), url("../fonts/TTHoves-DemiBold.woff") format("woff"),
    url("../fonts/TTHoves-DemiBold.ttf") format("truetype"),
    url("../fonts/TTHoves-DemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

a[href^="mailto:"],
a[href^="tel:"] {
  white-space: nowrap;
  text-decoration: none;
}

a[href^="mailto:"] {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

input[type="date"] {
  &::-webkit-inner-spin-button {
    display: none;
  }
}

.form-control {
  border-radius: 0;
}

.form-control:focus,
.form-check-input:focus {
  box-shadow: none;
}

.form-check-input {
  background-size: auto;
}

.label_wrap {
  display: flex;
  justify-content: space-between;

  .invalid_feedback {
    @extend .form-label;
    flex: 1 0 0%;
    text-align: right;
  }

  .form-label {
    flex: 1 0 0%;
  }
}

.invalid_feedback {
  display: none;
}

.is_invalid {
  .form-control::placeholder {
    color: $red;
  }

  .invalid_feedback {
    display: block;
    color: $red;
  }
  .form-check-input {
    border-color: $red;
  }

  .form-control {
    border-color: $red;
    color: $red;
  }
}

.form-check_wrap {
  .form-check {
    margin-bottom: 10px;
  }
}

a.btn {
  text-decoration: none;
}

.site-header {
  padding: 10px 0 9px;
  margin-bottom: 14px;

  @include media-breakpoint-up(lg) {
    padding: 19px 0 18px;
    margin-bottom: 20px;
  }

  &__logo {
    &__img {
      margin: 0 auto;
      max-width: 20px;
      height: auto;

      @include media-breakpoint-up(lg) {
        max-width: 54px;
      }
    }
  }
}

.pic {
  margin-bottom: 20px;

  @include media-breakpoint-only(lg) {
    padding-right: 0;
    padding-left: 0;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(xl) {
    margin-bottom: 20px;
  }

  &__wrap {
    background: $blue;
    display: flex;
    color: $white;
    padding-top: 10.4%;
    padding-bottom: 13.64%;

    @include media-breakpoint-up(sm) {
      min-height: 240px;
    }

    @include media-breakpoint-up(lg) {
      min-height: 350px;
      height: 100%;
    }

    @include media-breakpoint-up(xl) {
      min-height: 240px;
      height: auto;
    }
  }

  &__img {
    width: 65px;
    height: auto;

    @include media-breakpoint-up(sm) {
      width: 90px;
    }

    @include media-breakpoint-up(xxl) {
      width: 118px;
    }
  }
}

.checkin {
  &__header {
    padding-bottom: 13px;
    border-bottom: 1px solid $blue;
    margin-bottom: 18px;

    @include media-breakpoint-up(lg) {
      padding-bottom: 18px;
      margin-bottom: 0;
    }

    @include media-breakpoint-up(xl) {
      border-bottom: 1px solid $blue;
      margin-bottom: 0;
    }
  }

  &__info {
    position: relative;

    @include media-breakpoint-up(lg) {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        display: block;
        border-top: 1px solid $blue;
        margin-right: calc(var(--bs-gutter-x) * -0.5);
        margin-left: calc(var(--bs-gutter-x) * -0.5);
      }
    }

    @include media-breakpoint-only(lg) {
      padding-right: 0;
      padding-left: 0;
    }

    @include media-breakpoint-up(xl) {
      border-left: 1px solid $blue;
      padding-top: 20px;
      padding-bottom: 30px;
    }

    @include media-breakpoint-up(xxl) {
      padding-bottom: 102px;
    }
  }

  &__column-info {
    @include media-breakpoint-only(lg) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 0;

    @include media-breakpoint-up(lg) {
      font-size: 56px;
      line-height: 60px;
    }
  }

  &__subtitle {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 18px;

    @include media-breakpoint-up(lg) {
      font-size: 36px;
      line-height: 40px;
      letter-spacing: 0.02em;
    }
  }

  &__descr {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 28px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }

    &__text {
      margin-bottom: 20px;
    }
  }

  &__link {
    text-decoration: none;
    display: inline-block;
    vertical-align: bottom;
    border-bottom: 1px solid $blue;
    overflow: hidden;
  }

  &__form {
    padding-top: 50px;
    padding-bottom: 50px;
    // border-top: 1px solid $blue;

    @include media-breakpoint-up(lg) {
      padding-top: 20px;
      padding-bottom: 30px;
      // border-bottom: 1px solid $blue;
    }

    @include media-breakpoint-up(xl) {
      border-top: 0;
      border-bottom: 0;
    }
  }

  &__password {
    &__input {
      background-image: url("data:image/svg+xml,%3Csvg width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='11.5' r='2.75' stroke='%230959A1' stroke-width='1.5'/%3E%3Cpath d='M20.5 11.5C18.6658 7.92524 15.0993 5.5 11 5.5C6.90074 5.5 3.33417 7.92524 1.5 11.5' stroke='%230959A1' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      padding-right: $input-height-inner;
      background-repeat: no-repeat;
      background-position: right $input-height-inner-quarter center;
      background-size: $input-height-inner-half $input-height-inner-half;

      .is_invalid & {
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='11.5' r='2.75' stroke='%23EB5757' stroke-width='1.5'/%3E%3Cpath d='M20.5 11.5C18.6658 7.92524 15.0993 5.5 11 5.5C6.90074 5.5 3.33417 7.92524 1.5 11.5' stroke='%23EB5757' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      }
    }

    &__icon {
      background-color: transparent;
      border-radius: 0;
      border-left-color: transparent !important;
    }
  }

  &__btn {
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.footer {
  padding-top: 40px;
  padding-bottom: 22px;

  &__column {
    margin-bottom: 34px;
  }

  &__wrap-link {
    margin-bottom: 4px;
  }

  &__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  &__copyright {
    font-size: 14.2px;
    line-height: 20px;

    &__txt {
      margin-bottom: 12px;

      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
      }
    }
  }

  &__wrap-link {
    margin-bottom: 4px;
  }
}
