$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 960px,
  xl: 1440px,
  xxl: 1920px,
);

$container-max-widths: (
  sm: 444px,
  md: 720px,
  lg: 928px,
  xl: 1380px,
  xxl: 1840px,
);

$grid-gutter-width: 1.875rem; /* Устанавливает для .row отступы */

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2.5,
);

$gold: #bfa069;
$red: #eb5757;
$white: #fff;
$blue-10: rgba(9, 89, 161, 0.1);
$gray-dark: #8fa2b3;
$gray-cold: #cedbe5;
$gray-100: #fafafa;
$light: $gray-100;

$blue: #0959a1;
$colors: (
  "blue": $blue,
);

$primary: #0959a1;

$theme-colors: (
  "primary": $primary,
  "light": $light,
);

$blue: $primary;

$body-color: $blue;
$font-family-base: TT Hoves;
$enable-validation-icons: false;

$input-focus-border-color: $blue;
$border-radius: 20px;
$form-check-input-border-radius: 0;
$btn-padding-y: 0.563rem;
$input-padding-y: 0.5625rem;
$btn-disabled-opacity: 1;
$btn-link-disabled-color: $gray-dark;
$input-placeholder-color: $blue;

$component-active-bg: $white;
$component-active-color: $primary;
$form-check-input-focus-border: $blue;
$form-check-input-checked-border-color: $blue;

$form-check-input-border: 1px solid $blue;
$form-check-radio-checked-bg-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' r='4' fill='%230959A1'/%3E%3C/svg%3E ");
$form-check-input-checked-bg-image: url("data:image/svg+xml,%3Csvg width='9' height='8' viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 4L3.5 6.5L7.5 1' stroke='%230959A1' stroke-width='1.33333'/%3E%3C/svg%3E ");
$input-border-color: $blue;
$border-color: $blue;
$font-size-base: 0.875rem;
$line-height-base: 1.43;
