$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 960px,
  xl: 1440px,
  xxl: 1400px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 928px,
  xl: 1380px,
  xxl: 1320px,
);

$gold: #bfa069;
$red: #eb5757;

$gray-100: #fafafa;

$blue: #0959a1;
$colors: (
  "blue": $blue,
);

$font-family-base: TT Hoves;
$enable-validation-icons: false;

$grid-gutter-width: 1.875rem;
$border-radius: 20px;
$form-check-input-border-radius: 0;
$btn-padding-y: 0.563rem;
$input-padding-y: 0.5625rem;
$input-placeholder-color: $blue;
$form-check-input-border: 1px solid $blue;

$input-border-color: $blue;
$border-color: $blue;
$font-size-base: 0.875rem;
$line-height-base: 1.43;

$body-color: $blue;
